14/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
14/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
14/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
14/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
15/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
15/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
15/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
16/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
17/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
17/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
17/07/2014,Company,Project,,Task,Description,Hours,Hours Rounded,Yes,Yes,Worker,,Yes,Rate,Rate * Duration,0,0,Currency
